<!doctype html>
<html>
<script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<head>
    <title>Blogger - Blogs </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
          <div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Blogger</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-2">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile">Home</a></li>
                <li><a href="/blogs">Blogs</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <b><%= post.post_by_name %></b>
                        made a post.
                    </div>
                    <h6 class="text-muted time"><%= post.post_date_time %></h6>
                </div>
            </div>
            <div class="post-description">
                <p><%- post.content%></p>
                <div class="stats">
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-up icon"></i>2
                    </a>
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-share icon"></i>12
                    </a>
                </div>
            </div>
            <div class="post-footer">
                <div class="input-group">
                <form action="/comment" method="post">
                    <div class="input-group">
                        <textarea rows="2" cols="150" name="post"></textarea>
                        <button type="submit" class="#">Comment</button>
                    </div>
                </form>
                </div>
                <ul class="comments-list">
                    <% comments_under.forEach(fucntion(comment){ %>
                    <li class="comment">
                        <a class="pull-left" href="#">
                            <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                        </a>
                        <div class="comment-body">
                            <div class="comment-heading">
                                <h4 class="user"><%= comment.post_by_name %></h4>
                                <h5 class="time"><%= comment.post_date_time %></h5>
                            </div>
                            <p><%= comment.content %></p>
                        </div>
                    </li>
                    <%  }) %>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
